* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

body {

  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  width: 100vw;






  margin: 0;
  padding: 0;
  overflow-x: hidden;
}